<h1>FAQS</h1>
<p>YAO, welcome to dis FAQ page. We currently have <strong>{{questions.length}}</strong> questions.</p>

<hr>

<h3>QUESTIONS</h3>
{{#questions}}
    <li>{{this}}</li>
{{/questions}}

<hr>

<h3>ANSWERS</h3>
{{#answers}}
    <li>{{this}}</li>
{{/answers}}

